%h1{:align => "middle"}
  %i About me
.photobox
  %img{:class => "my_photo", :src => "me.jpg"}
.about
  My name is Suganthi.
  I'm developing this blog whilst sailing in the river of Sinatra. I will update this blog with my learning everyday.
  By doing that, I can make sure I've learnt something that day.
  Come along. Sail with me.. Happy learning :)
%br
